<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MessNote 分享你此刻的想法</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  
  </head>
  <body>
    {% block content %}{% end %}
    {% block scripts %}{% end %}
  </body>
</html>